---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usages

### Connecting an AWS Silo Plugin

{{ tffile "examples/data_silo_plugin/aws_plugin.tf" }}

The above example shows how you can use this resource to setup a plugin after a silo has been connected via the `transcend_data_silo_connection` resource

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

```shell
terraform import transcend_data_silo_discovery_plugin.connection <data_silo_id_from_silo_url>
```