---
page_title: "Provider: Transcend"
description: |-
  Provider for Transcend.io
---

# Transcend Provider

You can create an API Key to use with this provider in [the admin dashboard](https://app.transcend.io/infrastructure/api-keys)

{{ .SchemaMarkdown | trimspace }}